---
import Title from "../elements/Title.astro";
import SubTitle from "../elements/SubTitle.astro";
import MainSponsor from "../elements/MainSponsor.astro";
import Data from "../../data/SectionMainSponsor.json";

const mainSponsors = Data.filter((s) => s.tipo === "main");
---

<section class="mx-auto px-3 max-w-7xl xs:px-10 mb-10 scroll-mt-15" id="objectives">
    
    {
        mainSponsors.length > 0 && (
                <Title text="Main Sponsor" />

                <div class="flex flex-col gap-10">
                    {mainSponsors.map((sponsor) => (
                        <MainSponsor
                            title={sponsor.title}
                            body={sponsor.body}
                            link={sponsor.link}
                            logo={sponsor.logo}
                            primary_color={sponsor.primary_color}
                        />
                    ))}
                </div>
        
        )
    }
</section>
