---
import Title from "../elements/Title.astro";
import SubTitle from "../elements/SubTitle.astro";
import Organizer from "../elements/Organizer.astro";
import Data from "../../data/SectionOrganizers.json";
---

<section
    class="mx-auto px-3 max-w-7xl xs:px-10 mb-10 scroll-mt-15"
    id="organizers"
>
    <Title text="Organizadores" />

    <div class="mt-15">
        <div class="md:w-1/2">
            <SubTitle
                text="Instituciones provinciales que acompañan al congreso"
            />
        </div>
    </div>
    <div class="grid gap-10 xl:grid-cols-2 mt-5">
        {
            Data.map((item) => (
                <Organizer
                    title={item.title}
                    body={item.body}
                    href={item.href}
                    alt={item.alt}
                    image={item.image}
                />
            ))
        }
    </div>
</section>
