---
import Data from "../../data/SectionAcent.json";
import Button from "../elements/Button.astro";
---

<div class="w-full bg-gradient-to-r from-green-200 to-yellow-100 py-0 md:py-8">
    <div class="mx-auto max-w-6xl text-center p-6">
        <div
            class="font-heading font-semibold text-aqua-950 text-xl md:text-5xl text-center mt-10 mb-10"
        >
            <p class="mb-2">
                {Data.bigtitle1}
            </p>
            <p>
                {Data.bigtitle2}
            </p>
        </div>
        <div class="w-24 h-1 bg-nature-600 mt-2 mx-auto"></div>
        <h3
            class="font-heading text-2xl font-semibold text-aqua-950 mt-2 md:text-3xl"
        >
            {Data.title}
        </h3>
        <h2
            class="font-heading text-3xl font-bold text-aqua-950 uppercase md:text-4xl"
        >
            {Data.subtitle}
        </h2>
        <div class="w-24 h-1 bg-nature-600 mt-2 mx-auto mb-5"></div>
        <p class="font-body font-semibold text-lg text-shark-950">
            {Data.date}
        </p>
        <p class="font-body font-semibold text-lg text-shark-950">
            {Data.place}
        </p>
        <Button
            content="Preisncribirme al Congreso"
            href="https://forms.gle/MsBpcmmrxRXbpp1V7"
            target="_blank"
            aling="center"
        />
    </div>
</div>
