---
import Title from "../elements/Title.astro";
import SubTitle from "../elements/SubTitle.astro";
import EventTimeLine from "../elements/EventTimeLine.astro";
import Data from "../../data/SectionTimeLine.json";

---

<section class="mx-auto max-w-7xl mb-10 scroll-mt-15" id="timeline">
    <Title text="Programa" />

    {Data.map((dayItem) => (
        <div>
            <!-- Subtítulo con el día -->
            <div class="mt-15">
                <div class="text-center">
                    <SubTitle text={dayItem.day} />
                </div>
            </div>

            <!-- Timeline -->
            <div class="timeline">
                {dayItem.events.map((event, index) => (
                    <EventTimeLine
                        title={event.title}
                        body={event.body}
                        date={event.date}
                        position={index % 2 === 0 ? "left" : "right"} 
                        icon={event.icon}
                    />
                ))}
            </div>
        </div>
    ))}
</section>


