---
const { title, body, date, position, icon } = Astro.props;
// Asegúrate de que la ruta sea correcta
---

<div class={`container-timeline ${position}`}>
    <div class="date">{date}</div>
    <i class={`icon fa ${icon}`}></i>
    <!-- Ícono dinámico -->
    <div class="content-timeline">
        <h2
            class="font-heading font-bold text-nature-950 leading-6 text-md sm:text-lg lg:text-xl"
        >
            {title}
        </h2>
        <p class="font-body text-shark-800 text-sm sm:text-md lg:text-lg">
            {body}
        </p>
    </div>
</div>
