---
const { title, body, href, alt, image } = Astro.props;
---

<div
    class="flex flex-col md:flex-row bg-shark-50 rounded-lg overflow-hidden mt-5"
>
    <img
        src={`/images/organizers/${image}`}
        alt={alt}
        class="w-full md:w-1/3 object-contain max-h-25 mb-3"
    />
    <div class="p-6 flex-1 text-center md:text-left">
        <h3 class="text-xl font-heading font-bold text-nature-950">
            {title}
        </h3>
        <p class="font-body text-md text-shark-800 mt-2">
            {body}
        </p>
        <div
            class="mt-4 flex flex-wrap gap-4 text-center items-center justify-center md:justify-start"
        >
            <a
                href={href}
                class="font-heading text-lg font-semibold text-nature-700 hover:text-nature-600 focus:outline-hidden flex items-center gap-1"
            >
                Visitar Web
                <svg
                    width="12px"
                    height="12px"
                    viewBox="-4.5 0 20 20"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                    <title>arrow_right [#333]</title>
                    <desc>Created with Sketch.</desc>
                    <g
                        id="Page-1"
                        stroke="none"
                        stroke-width="2"
                        fill="none"
                        fill-rule="evenodd"
                    >
                        <g
                            id="Dribbble-Light-Preview"
                            transform="translate(-425.000000, -6679.000000)"
                            fill="#068f57"
                        >
                            <g
                                id="icons"
                                transform="translate(56.000000, 160.000000)"
                            >
                                <path
                                    d="M370.39,6519 L369,6520.406 L377.261,6529.013 L376.38,6529.931 L376.385,6529.926 L369.045,6537.573 L370.414,6539 C372.443,6536.887 378.107,6530.986 380,6529.013 C378.594,6527.547 379.965,6528.976 370.39,6519"
                                    id="arrow_right-[#333]"
                                >
                                </path>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>
</div>
