---
const { title, body, link, logo, primary_color } = Astro.props;
---

<div
    class="w-full flex flex-col items-center text-center p-4 rounded-2xl hover:shadow-lg transition"
>
    <a href={link} target="_blank" class="flex justify-center">
        <img
            src={`/images/sponsor_institution/${logo}`}
            alt={title}
            class="max-h-20 object-contain transition-transform hover:scale-105"
        />
    </a>
    <h3
        class="mt-4 text-lg font-semibold font-heading"
        style={`color: ${primary_color}`}
    >
        {title}
    </h3>
    {
        body && (
            <p class="mt-2 text-sm text-shark-700 font-body leading-snug max-w-xs">
                {body}
            </p>
        )
    }
</div>
